<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenziwen.shakefan"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" /> 
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/shake_fan"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.wenziwen.shakefan.ShakeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.wenziwen.shakefan.MenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.wenziwen.shakefan.EditMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.wenziwen.shakefan.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.wenziwen.shakefan.UsageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.wenziwen.shakefan.SettingActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
